*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #121211;
}
.container {
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
}
.aside_block{
    color: aliceblue;
    width: 31%;
    background-color: #2c2c2d;
    font-size: 16px;
}

h3{
    font-size: 1.3em;
    text-align: center;
    color: #2e7599;

}
ul {
    list-style: none;

}

.images{
    margin-right: 4px;
    margin-top: 10px;
    background-image: none;
    height: 21px;
    width: 23px;


}

a{
    color: white;
}
.line{
    margin-left: 40px;
    background: #353b48;
    height: 3px;

}
.education{
    padding-top: 10px;
    font-size: 17px;
}
.skills{
    list-style: none;
}
.skills li{
    padding-left:40px;
    padding-right: 20px;
}
.skills p{
    line-height: 1px;
    font-size: 20px;
}
.bar{
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0 0 10px #2187e7b3;
}
.bar span{
    height: 2px;
    float: left;
    background: #2187e7;
}
.html{
    width: 90%;
}
.css{
    width: 60%;
}
.js{
    width:70%;
}
.git{
    width: 50%;
}
.main{
    width: 69%;
    background-color: #dfe7eb;
    font-size: 18px;
    color: black;
}
.header{
    color: aliceblue;
    background-color: #2c2c2d;
    padding: 67px 60px;
    line-height: 1px;


}
#size{
    font-size: 50px;
}
#size2{
    font-size: 70px;
    font-weight: bold;
}
#front{
    font-size: 30px;
    color: #2e7599;
}
.main_description{
    padding: 47px 60px;
    line-height: 0;
    font-weight: bold;



}
.main_line{
    margin-bottom: 10px;
    margin-left: 0px;
    background: #353b48;
    height: 3px;
}
.about_me{
    line-height: 23px;
    margin-bottom: 40px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;

}
.code{
    font-family: 'Anonymous Pro', monospace;
}
.footer{
    display: flex;
    flex: 0 0 auto;
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    background-color: #34383a;
}
.footer_git{
    margin-top: 5px;
    margin-left: 80px;
    background-image: none;
    height: 150px;
    width: 168px;
}
.footer2021{
    margin-top: 30px;
    margin-left: 40px;
    background-image: none;
    height: 150px;
    width: 250px;
}
.footer_rs{
    margin-top: 10px;
    margin-left: 230px;
    background-image: none;
    height: 150px;
    width: 250px;
}